@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div#MainContent {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: white;
  background-color: #2b2c2e;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  outline: none;
}

div#MainContent:focus {
  outline: none;
}

.wrap {
  margin: 0 auto;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}

@-webkit-keyframes strikeUnvail {
  from {
    y: -200%;
  }
  to {
    y: 200%;
  }
}
@keyframes strikeUnvail {
  from {
    y: -200%;
  }
  to {
    y: 200%;
  }
}
@-webkit-keyframes blurOnOff {}
@keyframes blurOnOff {}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.disScroll {
  overflow-y: hidden;
}

[data-blurred] {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: -webkit-filter 1000ms linear;
  transition: -webkit-filter 1000ms linear;
  transition: filter 1000ms linear;
  transition: filter 1000ms linear, -webkit-filter 1000ms linear;
}

[data-blurred=off] {
  -webkit-filter: blur(0);
  filter: blur(0);
}

div.phase.phaseBack {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(34, 34, 38, 0.8);
  z-index: 9999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}
div.phase.phaseBack[data-hidden] {
  opacity: 0;
}
div.phase.phaseBack[data-display] {
  opacity: 1;
}
div.phase.phaseBack .phase.phaseNote {
  position: relative;
  height: 250px;
  width: 350px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
div.phase.phaseBack .phase.phaseNote h3 {
  padding: 0;
  margin: 0;
  font-weight: 100;
  color: #eed369;
  font-size: 1.1rem;
}
div.phase.phaseBack .phase.phaseNote .iconPlace {
  height: 200px;
  width: 200px;
  padding: 2em;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg {
  width: 100%;
  height: 100%;
  overflow: visible;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .iconMask {
  width: 100%;
  height: 100%;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .iconMask .backPath {
  fill: white;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .iconMask .backRect {
  fill: black;
  width: 100%;
  height: 100%;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .frontRect {
  position: absolute;
  fill: #eed369;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .frontRect.scroller {
  -webkit-animation: 0.7s infinite ease-out strikeUnvail;
  animation: 0.7s infinite ease-out strikeUnvail;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .outline {
  height: 100%;
  width: 100%;
  fill: none;
  stroke: #e6c029;
}
div.phase.phaseBack .phase.phaseNote .iconPlace svg.iconSvg .outline.trace {
  stroke-dasharray: 20;
  stroke-dashoffset: 1;
  -webkit-animation: dash 2s linear infinite;
  animation: dash 2s linear infinite;
}

#debugWindow {
  padding: 0 0 0 1rem;
  white-space: pre;
  line-break: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.freezeButton {
  position: fixed;
  top: 0;
  right: 0;
  background: #37393b;
  border: none;
  outline: none;
  width: 100px;
  height: 40px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.freezeButton:hover {
  background: #505256;
}
.freezeButton[data-frozen] {
  background: #ff5a52;
}

#debugWindow > .raw {
  display: inline-block;
}

#debugWindow > .obis {
  display: inline-block;
}

table.obisTable,
table.specTable {
  border-collapse: collapse;
  border: 1px solid #505256;
  table-layout: auto;
  width: 100%;
  cursor: pointer;
}

table.specTable thead th {
  padding: 1em;
  border-right: 1px solid #203D42;
}
table.specTable tbody tr {
  border: 1px solid #505256;
}
table.specTable tbody tr.startFrame {
  background: rgba(0, 128, 0, 0.3);
}
table.specTable tbody tr.dui {
  background: rgba(128, 128, 0, 0.3);
}
table.specTable tbody tr.infoObjOne {
  background: rgba(128, 83, 0, 0.3);
}
table.specTable tbody tr.infoObjTwo {
  background: rgba(128, 70, 0, 0.3);
}
table.specTable tbody tr.stopFrame {
  background: rgba(128, 0, 0, 0.3);
}
table.specTable tbody td {
  border: 1px solid white;
  padding: 0.4em;
}
table.obisTable thead {
  border: 1px solid #505256;
}
table.obisTable thead tr:first-of-type {
  border-bottom: 1px solid #505256;
}
table.obisTable thead tr th {
  border-right: 1px solid #505256;
  padding: 0.5em 0;
}
table.obisTable tbody tr {
  padding: 0.5em 0.5em;
  position: relative;
}
table.obisTable tbody tr:not(:last-of-type) {
  border-bottom: 1px solid #37393b;
}
table.obisTable tbody tr.selected td {
  position: relative;
  background-color: #505256;
}
table.obisTable tbody tr.selected td::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  -webkit-box-shadow: 0px 10px 65px 0px black;
  box-shadow: 0px 10px 65px 0px black;
  z-index: -1;
}
table.obisTable tbody tr.selected td:first-child::after {
  -webkit-box-shadow: 0px 10px 65px 0px black;
  box-shadow: 0px 10px 65px 0px black;
  left: 15%;
}
table.obisTable tbody tr.selected td:last-child::after {
  -webkit-box-shadow: 0px 10px 65px 0px black;
  box-shadow: 0px 10px 65px 0px black;
  right: 15%;
}
table.obisTable tbody tr td {
  padding: inherit;
  text-align: center;
  padding: 0.5em 0.5em;
}
table.obisTable tbody tr td.obis__name {
  text-align: left;
}
table.obisTable tbody tr td.obis__obis_byteStart {
  border-left: 1px solid #37393b;
}
table.obisTable tbody tr td.obisGroup.obisGroup__A {
  border-left: 1px solid #37393b;
}
table.obisTable tbody tr td.obisGroup.obisGroup__F {
  border-right: 1px solid #37393b;
}
.dbgHexTbl {
  margin: 50px auto;
  font-family: monospace;
  display: grid;
  grid-template: "heading heading" "hexTable definitions";
  grid-gap: 1em;
}
.dbgHexTbl .dbgHexTblHead {
  grid-area: heading;
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dbgHexTbl .dbgHexTblHead .dbgHexTblDateTime {
  display: inline-block;
}
.dbgHexTbl .dbgHexTblHead .dbgHexTblAddInfo {
  display: inline-block;
}
.dbgHexTbl .dbgHexTblContent {
  grid-area: hexTable;
  white-space: pre-wrap;
}
.dbgHexTbl .dbgHexTblContent p {
  display: inline-block;
  -webkit-margin-before: 0em;
  margin-block-start: 0em;
  -webkit-margin-after: 0em;
  margin-block-end: 0em;
  -webkit-margin-start: 0px;
  -moz-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  -moz-margin-end: 0px;
  margin-inline-end: 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.dbgHexTbl .dbgHexTblContent p.byte {
  position: relative;
}
.dbgHexTbl .dbgHexTblContent p.byte:hover {
  color: green;
}
.dbgHexTbl .dbgHexTblContent p.byte:hover::after {
  font-weight: bold;
  border-radius: 2px;
  padding: 0.2em;
  background: white;
  z-index: 99999;
  position: absolute;
  display: inline-block;
  content: "#" attr(data-bytenr);
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}
.dbgHexTbl .dbgHexTblContent p.byte.dl {
  opacity: 0.2;
}
.dbgHexTbl .dbgHexTblContent p.byte.fsef {
  color: #52c22b;
}
.dbgHexTbl .dbgHexTblContent p.byte.fcs, .dbgHexTbl .dbgHexTblContent p.byte.hcs {
  color: #ff5a52;
}
.dbgHexTbl .dbgHexTblContent p.byte.obis {
  color: #e6c029;
}
.dbgHexTbl .dbgHexTblContent p.byte.obis.hl {
  color: #e6c029;
}
.dbgHexTbl .dbgHexTblContent p.byte.dataCtrl {
  color: #669be3;
}
.dbgHexTbl .dbgHexTblContent p.byte.dataCtrl.hl {
  color: #669be3;
}
.dbgHexTbl .dbgHexTblContent p.byte.data {
  color: #0058d0;
}
.dbgHexTbl .dbgHexTblContent p.byte.data.hl {
  color: #0058d0;
}
.dbgHexTbl .dbgHexTblContent p.byte.obisCtrl {
  color: #f0d97f;
}
.dbgHexTbl .dbgHexTblContent p.byte.obisCtrl.hl {
  color: #f0d97f;
}
.dbgHexTbl .dbgHexTblDefinitions {
  grid-area: definitions;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.dbgHexTbl .dbgHexTblDefinitions p {
  position: relative;
  margin: 2.5px 0 2.5px 1.4em;
}
.dbgHexTbl .dbgHexTblDefinitions p::before {
  border-radius: 2px;
  position: absolute;
  content: "";
  display: inline-block;
  height: calc(1em - 2px);
  width: calc(1em - 2px);
  bottom: 50%;
  left: -1.4em;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  border: 1px solid white;
}
.dbgHexTbl .dbgHexTblDefinitions p.fsefDef::before {
  background-color: #52c22b;
}
.dbgHexTbl .dbgHexTblDefinitions p.fcsDef::before,
.dbgHexTbl .dbgHexTblDefinitions p.hcsDef::before {
  background-color: #ff5a52;
}
.dbgHexTbl .dbgHexTblDefinitions p.unknownDef::before {
  background-color: white;
}
.dbgHexTbl .dbgHexTblDefinitions p.obisCtrlDef::before {
  background-color: #f0d97f;
}
.dbgHexTbl .dbgHexTblDefinitions p.obisDef::before {
  background-color: #e6c029;
}
.dbgHexTbl .dbgHexTblDefinitions p.dataCtrlDef::before {
  background-color: #669be3;
}
.dbgHexTbl .dbgHexTblDefinitions p.dataDef::before {
  background-color: #0058d0;
}