table#obisTable.obisTable
  thead
    tr
      th.obis__listIdentifier(colspan='7') Obis List Identifier
      th.obis__version(colspan='7')
    tr
      th.obis__listNr(colspan='1') List Nr
      th.obis__codeValue(colspan='6') OBIS Code - Group Value
      th.obis__object Object
      th.obis__attributes(colspan='2') Attributes
      th.obis__obisBytes(colspan='2') Obis
      th.obis__valueBytes(colspan='2') Value
    tr
      th.obisListIdNr
      th.obisGroup.obisGroup__A A
      th.obisGroup.obisGroup__B B
      th.obisGroup.obisGroup__C C
      th.obisGroup.obisGroup__D D
      th.obisGroup.obisGroup__E E
      th.obisGroup.obisGroup__F F
      th.obis__name Name
      th.obis__unit Unit
      th.obis__dataType Data Type
      th.obis__obis_byteStart Start
      th.obis__obis_byteEnd End
      th.obis__value_byteStart Start
      th.obis__value_byteEnd End
  tbody
  tfoot
