extends template

append css
  link(rel='stylesheet', href='../scss/debug.scss')

append topScripts
  script(src=process.env.SOCKET)

block content
  #debugHexTable(class="dbgHexTbl")
    .dbgHexTblHead
      .dbgHexTblDateTime
      .dbgHexTblAddInfo
    .dbgHexTblContent
    .dbgHexTblDefinitions
      p.unknownDef Unknown
      p.fsefDef Frame start/end;
      p.hcsDef Header Check Sequence
      p.fcsDef Frame Check Sequence
      p.obisCtrlDef Obis Control
      p.obisDef Obis
      p.dataCtrlDef Data Control
      p.dataDef Data
      
    .demoWindow
  //- include _specTable
  include _obisTable
  //- include _obisCodeTable


append bottomScripts
  script(src="../js/debug.js")
