extends template
append css
  link(rel='stylesheet', href='../scss/graph.scss')
append topScripts
  script(src=process.env.SOCKET)

block content
  


append bottomScripts
  script(src="../js/graph.js")
