doctype html
html(lang="en")
  head
    title config.name
    meta(content="" name="description")
    block css

    block topScripts
      script(src="../dash.js")
      
  body
    #MainContent.content
      .header
        include _menu
        block header

      .wrap
        block content
      
      .footer
        block footer

    block bottomScripts
    
