doctype html
html(lang="en")
  head
    title #{locals.title}
    meta(content="" name="description")
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block css

    block topScripts
      script(src="../dash.js")
      
  body
    #MainContent.content
      include _menu
      .header
        block header

      .wrap
        block content
      
      .footer
        block footer

    block bottomScripts
    
