$ol-col-lightest: lighten(rgba(29, 55, 60, 1.00), 5%);
$ol-col-light: lighten(rgba(29, 55, 60, 1.00), 15%);

$shadowColor: rgba(0, 0, 0, 1);

table.obisTable,
table.specTable {
  border-collapse: collapse;
  border: 1px solid $lighter-background;
  table-layout: auto;
  width: 100%;
  cursor: pointer;
}



table.specTable {
  thead {
    tr {}

    th {
      padding: 1em;
      border-right: 1px solid #203D42;
    }
  }

  tbody {
    tr {
      border: 1px solid $lighter-background;

      &.startFrame {
        background: hsla(120, 100%, 25%, .3);
      }

      &.dui {
        background: hsla(60, 100%, 25%, .3);
      }

      &.infoObjOne {
        background: hsla(39, 100%, 25%, .3);
      }

      &.infoObjTwo {
        background: hsla(33, 100%, 25%, .3);
      }

      &.stopFrame {
        background: hsla(0, 100%, 25%, .3);
      }
    }

    td {
      border: 1px solid white;
      padding: .4em;
    }

  }

  tfoot {
    tr {}

    td {}
  }

  tr {}

  td {}

}

table.obisTable {
  thead {
    border: 1px solid $lighter-background;

    tr {
      &:first-of-type {
        border-bottom: 1px solid $lighter-background;
      }

      th {
        border-right: 1px solid $lighter-background;
        padding: .5em 0;
      }
    }
  }

  tbody {
    tr {
      padding: .5em .5em;
      position: relative;

      &:not(:last-of-type) {
        border-bottom: 1px solid $slightly-lighter-background;
      }

      &.selected {
        td {
          position: relative;
          background-color: $lighter-background;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 50%;
            -webkit-box-shadow: 0px 10px 65px 0px $shadowColor;
            box-shadow: 0px 10px 65px 0px $shadowColor;
            z-index: -1;
          }

          &:first-child {
            &::after {
              -webkit-box-shadow: 0px 10px 65px 0px $shadowColor;
              box-shadow: 0px 10px 65px 0px $shadowColor;
              left: 15%;
            }
          }

          &:last-child {
            &::after {
              -webkit-box-shadow: 0px 10px 65px 0px $shadowColor;
              box-shadow: 0px 10px 65px 0px $shadowColor;
              right: 15%;
            }
          }
        }
      }

      td {
        padding: inherit;
        text-align: center;
        padding: .5em .5em;

        &.obis__name {
          text-align: left;
        }

        &.obis__obis_byteStart {
          border-left: 1px solid $slightly-lighter-background;
        }

        &.obisGroup {
          &.obisGroup__A {
            border-left: 1px solid $slightly-lighter-background;
          }

          &.obisGroup__F {
            border-right: 1px solid $slightly-lighter-background;
          }
        }
      }
    }

  }

  tfoot {}
}
